[filtering]

status=0
warnings=0
checkextern=1
ignore=
    ^mailto:
    # linkchecker doesn't understand preconnect
    # https://github.com/squidfunk/mkdocs-material/commit/36ec35c2e47bf0bed8de75ca658cab2017c10d29
    fonts.gstatic.com$
    # certificate issues
    ^https://koji.chtc.wisc.edu
    ^https://cobbler-widmir.chtc.wisc.edu
    ^https://twiki.org
    ^https://batlab.org
    ^https://hypernews.cern.ch/HyperNews/CMS/get/osg-tier3.html
    ^https://ggus.eu
    ^https://goc.egi.eu
    ^https://portal.xsede.org
    ^https://meshconfig.opensciencegrid.org
    ^https://psconfig.opensciencegrid.org
    ^https://psetf.opensciencegrid
    ^https://support.ntp.org
    # linkchecker doesn't like the CE View
    ^http://itb-ce1.chtc.wisc.edu
    # windmill theme contains broken search links
    ^http://localhost:8000/search.html$
