[filtering]

status=0
warnings=0
checkextern=1
ignore=
    ^mailto:
    # linkchecker doesn't understand preconnect
    # https://github.com/squidfunk/mkdocs-material/commit/36ec35c2e47bf0bed8de75ca658cab2017c10d29
    fonts.gstatic.com$
    # certificate issues
    chtc.wisc.edu
    jira.opensciencegrid.org
    twiki.org
    batlab.org
    hypernews.cern.ch/HyperNews/CMS/get/osg-tier3.html
    confluence.grid.iu.edu
    ggus.eu
    psetf.grid.iu.edu
    goc.egi.eu
    # windmill theme contains broken search links
    ^http://localhost:8000/search.html$
