[filtering]

status=0
warnings=0
checkextern=1
ignore=
    ^mailto:
    # linkchecker doesn't understand preconnect
    # https://github.com/squidfunk/mkdocs-material/commit/36ec35c2e47bf0bed8de75ca658cab2017c10d29
    fonts.gstatic.com$
    # certificate issues
    chtc.wisc.edu
    twiki.org
    batlab.org
    hypernews.cern.ch/HyperNews/CMS/get/osg-tier3.html
    ggus.eu
    goc.egi.eu
    xsede.org
    ^https://meshconfig.opensciencegrid.org
    ^https://psconfig.opensciencegrid.org
    ^https://psetf.opensciencegrid
    ^https://support.ntp.org
    # windmill theme contains broken search links
    ^http://localhost:8000/search.html$
